/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=WindSong&display=swap');		/*font-family: 'Arizonia', cursive;
font-family: 'WindSong', cursive;*/






/*regarding the body*/
body{
  	color: black;
	/*font-family: 'WindSong', cursive;*/
	background-color: #dee9ff;
}

h1{
	font-family: 'WindSong', cursive;
	color: #461b77;
}

/*regarding the ui-bar*/
#ui-bar {  
	background-color: #9bb8ff;
}
#story-title {
	font-family: 'Arizonia', cursive;
	font-size: 180.0%;
  	color: #461b77;
}



/*regarding DETAILS*/
/*settings*/
html.widescreen #passages {
	max-width: none;
}
