/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=WindSong&display=swap');
/*font-family: 'Arizonia', cursive;
font-family: 'WindSong', cursive;*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/*font-family: 'Noto Sans', sans-serif;*/


/*regarding the body*/
body{
  	color: black;
	font-family: 'Noto Sans', sans-serif;
	background-color: #f8eff3; /*#dee9ff;*/
}

h1{
	font-family: 'WindSong', cursive;
	color: #461b77;
	font-size: 4em;
}

/*regarding the ui-bar & other related functionalities*/
#story-title {
	font-family: 'Arizonia', cursive;
	font-size: 180.0%;
  	color: #461b77;
}
#ui-bar {  
	background-color: #b7a9fe ;/*#9bb8ff;*/
}
#ui-dialog {
	color: white;
	display: none;
	opacity: 0;
	z-index: 100100;
	position: fixed;
	top: 50px;
	margin: 0;
	padding: 0;
}
#ui-dialog-title {
	font-family: 'Noto Sans', sans-serif;
	color: white;
	margin: 0;
	padding: 0.2em 3.5em 0.2em 0.5em;
	font-size: 1.5em;
	text-align: center;
}


/*regarding DETAILS*/
/*settings*/
html.widescreen #passages {
	max-width: none;
}
