/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=WindSong&display=swap');
/*font-family: 'Arizonia', cursive;
font-family: 'WindSong', cursive;*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/*font-family: 'Noto Sans', sans-serif;*/


/*regarding the body*/
body{
  	color: black;
	font-family: 'Noto Sans', sans-serif;
	background-color: #f8eff3; /*#dee9ff;*/
}

h1{
	font-family: 'WindSong', cursive;
	color: #461b77;
}

/*regarding the ui-bar*/
#ui-bar {  
	background-color: #b7a9fe ;/*#9bb8ff;*/
}
#story-title {
	font-family: 'Arizonia', cursive;
	font-size: 180.0%;
  	color: #461b77;
}



/*regarding DETAILS*/
/*settings*/
html.widescreen #passages {
	max-width: none;
}
